
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.resizable-box {
  
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: #bfbfbf;
  transition: height 0.3s ease-out; 
}

.top-bar {
  background-color: #00007f;
  color: #fff;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide-button {
  cursor: pointer;
  position: relative;
  padding: 5px;

}

.close-button {
  cursor: pointer;
  position: relative;
  padding: 5px;
  left:90.5%
}

.close-button img,
.hide-button img {
  width: 20px;  
  height: 20px; 
}

.content {
  overflow: hidden;
  transition: height 0.3s ease-out, opacity 0.3s ease-out; 
}

.content img {
  display: block;
  width: 100%;
  height: auto;
}

.content-border {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden; 
}

.resizable-box.hidden .content {
  height: 0; 
  opacity: 0; 
}
